# Created by .ignore support plugin (hsz.mobi)

#output files
*.jar
*.war
*.ear
*.class
*.csv

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#intellij property files
.idea
*.iml


